<%include header.ejs%>
<div class="m_submit">
  <form method="post">
    <div class="m_gh">
      工号：
      <select name="gh" id="">
        <option value="0">请选择 </option>
        <option value="0216-郑国宝">0216-郑国宝</option>
        <option value="0445-蔡玉芳">0445-蔡玉芳</option>
        <option value="1174-李丽">1174-李丽</option>
        <option value="1658-敖飞">1658-敖飞</option>
        <option value="1995-郑飞杰">1995-郑飞杰</option>
        <option value="2016-庄晓强">2016-庄晓强</option>
        <option value="2252-曹志辉">2252-曹志辉</option>
        <option value="2285-肖雪菲">2285-肖雪菲</option>
        <option value="2295-杨德林">2295-杨德林</option>
      </select>
    </div>
    <div class="m_reason">
      <span>理由：</span>
      <textarea name="reason" id="" cols="30" rows="10"></textarea>
    </div>
    <input type="submit" class="m_btn" value="提交">
  </form>
  <a href="/result">查看今日加班人数</a>
</div>

<%include footer.ejs%>
<script>
  $('option[value^=<%=gh%>]').attr('selected','true');
</script>