<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="post">
      <div>
        工号：<input type="tel" name="gh" id="">
      </div>
      <div>
        理由：<textarea name="reason" id="" cols="30" rows="10"> </textarea>
      </div>
      <input type="submit" value="提交">
    </form>
  </body>
</html>
