<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>添加成功</p>
<a href="/">返回首页</a><a href="/today">今日加班人数</a>
</body>
</html>
